/*
Theme Name: Twenty Fourteen
Theme URI: http://wordpress.org/themes/twentyfourteen
Author: the WordPress team
Author URI: http://wordpress.org/
Description: In 2014, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body,section,.heading,.heading2,h3,h4{
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Verdana","Arial";
    font-weight: 100;
}
body{
    background-color: #ffffff;
}


$red:#ce3745;
$white:#e1e1e1;
$blue:#331bd3;
$darkgrey:#252525;
/*ADAPTIVE DESIGN*/
$mobile: "all and (max-width: 50em)";
$desktop: "all and (min-width: 50em) ";
/*END ADAPTIVE DESIGN*/




h3{
    font-size: 2em;
}

a, a:visited{
    color:$red;
}
.heading, h2,h1{
    @media #{$mobile} {
           font-size: 1em;
           margin-top: 0px;
           line-height: 1em;
           margin-bottom: 0.5em;
           font-weight: normal;

    }
    @media #{$desktop} {
        font-size: 4em;
        line-height: 1.2em;
        margin-bottom: 20px;
        font-weight: normal;
    }
}
p{
    clear: both;
    width: 100%;
    @media #{$mobile} {
        font-size: 10px;
        margin-top: 10px;
    }
    @media #{$desktop} {
       font-size: 18px;
       margin-top: 10px;
    }

}
.clb{
    clear: both;
}
.body-wrapp{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header{
    position: fixed;
    z-index:9;
    width: 100%;
    .logo {
        height: auto;
        cursor: pointer;
        @media #{$mobile} {
          width: 40px;
          padding: 5px;
        }
        @media #{$desktop} {
            width: 80px;
            padding: 20px;
        }
    }
    .menu-button{
        display: inline-block;
        float: right;

        @media #{$mobile} {
         font-size: 0.8em;
          padding: 10px;
        }
        @media #{$desktop} {

           padding: 20px;
        }
        color:$red;
    }
}
.one-third{
    width: 31%;
    display: inline-block;
    float: left;
    padding: 1%;

    @media #{$mobile} {
        width: 100%;
        padding: 1%;
    }
    @media #{$desktop} {
        width: 31%;
        display: inline-block;
        float: left;
        padding: 1%;
    }
}

/*MMENU*/


.mm-panels{
    background-color: $red;
    color:#fff;
    text-align: center;
}
.mm-listview>li{

    @media #{$mobile} {
        font-size: 1em;
        line-height: 1em;
    }
    @media #{$desktop} {
        font-size: 2em;
        line-height: 2em;
    }
}
.mm-menu.mm-offcanvas.mm-current {
    z-index: 10;
}

.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
    margin-top: 60px;
}


.fp-tableCell{
    // padding: 40px;
}
/*SIDEMENU*/
.side-menu{
    position: fixed;
    z-index:9;
    width:80px;
    left:0;
    top:45%;
    line-height: 0.4em;
    padding: 0 10px;
    @media #{$mobile} {
        padding: 4px;
    }
    @media #{$desktop} {

    }


    a{
        display: inline-block;
        height: 15px;
    }

    li{
      list-style: none;
      background-color: #8e8e8e;
      width: 40px;
      height: 3px;
      display: inline-block;
      vertical-align: middle;

        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

      &:hover{
        background-image: -webkit-linear-gradient(left, #e7302a, #331bd3);
        background-image: -o-linear-gradient(left, #e7302a, #331bd3);
        background-image: linear-gradient(to right, #e7302a, #331bd3);
        width: 70px;
      }

    }
    li.active{
        background-image: -webkit-linear-gradient(left, #e7302a, #331bd3);
        background-image: -o-linear-gradient(left, #e7302a, #331bd3);
        background-image: linear-gradient(to right, #e7302a, #331bd3);

        @media #{$mobile} {
            width: 42px;
        }
        @media #{$desktop} {
          width: 70px;
        }
    }
}

.button{
    border-radius: 10px;
    border: 4px solid #e7302a;
    color: $red;
    text-decoration: none;
    font-weight: 200;
    padding: 4px 14px;
    text-align: center;

    clear: both;

    @media #{$mobile} {

       margin: auto;
       display: block;
       border: 2px solid;
       font-size: 12px;
    }
    @media #{$desktop} {
       margin: 12px 0;
       display: inline-block;
       font-size: 24px;
    }


    &:before{
        clear: both;
    }
}




/*                            __     _
   _____   ___     _____   / /_   (_)  ____     ____     _____
  / ___/  / _ \   / ___/  / __/  / /  / __ \   / __ \   / ___/
 (__  )  /  __/  / /__   / /_   / /  / /_/ /  / / / /  (__  )
/____/   \___/   \___/   \__/  /_/   \____/  /_/ /_/  /____/
*/
section{
   @media #{$mobile} {
         padding:5px 50px;
      }
      @media #{$desktop} {
         padding: 80px 130px;
      }

}

.main{
    .heading{
        @media #{$mobile} {
            font-size: 2em;
        }
        @media #{$desktop} {
            font-size: 3em;
        }

        color: #000;
        z-index: 1000;
        letter-spacing: 2px;
        pointer-events: none;
        top: 40%;
        left: 0;
        text-transform: uppercase;
        font-weight: bold;
        right: 0;
        width: 100%;
        text-align: center;
        //text-shadow:2px 4px 28px rgba(0,0,0,0.7);

    }
    .small-heading{
       width: 100%;
       text-align: center;
       font-size: 14px;
       letter-spacing: 0.2em;
       color: #444;
    }
    .bottom{
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        left:0;
        text-align: center;
        display: block;
        padding-bottom: 5px;
        @media #{$mobile} {
            font-size:10px;


        }
        @media #{$desktop} {
            font-size: 18px;
        }
    }
}
.opaced{
    opacity:0;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;

    z-index:-1;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.master{
    color:$white;
    .heading{

    }
    #fittext1{
        color: #212121;
        bottom: 35%;
    }
}
.principles{
    .heading{
        margin-top: -70px;
    }
    #fittext2{
        color:#f8f8f8;

    }
    @media #{$mobile} {
        p{
            clear: both;
            font-size: 7px;
            padding-top: 0px;
        }
    }
    @media #{$desktop} {
        p{
           clear: both;
           font-size: 13px;
           padding-top: 3px;
        }
    }
}
.profit{
    color: #434343;

    .one-third{

        &:last-child .heading2{
            padding-top: 0;
        }
        @media #{$mobile} {
           >img{
            width: 23px;
            padding: 0 1%;
            float: left;
            display: inline-block;
            }
            >.heading2{
              width: 45%;
              float: left;
              font-size: 0.8em;
              line-height: 0.9em;
              display: inline-block;
              padding-top: 0em;
              padding-left: 5px;
            }
            >p{
                clear: both;
                font-size: 8px;
                padding-top: 2px;
                line-height: 7px;
            }
        }
        @media #{$desktop} {

           >img{
            width: 25%;
            padding: 0 3%;
            float: left;
            display: inline-block;
            }
            >.heading2{
              width: 45%;
              float: left;
              font-size: 1.7em;
              line-height: 0.9em;
              display: inline-block;
              padding-top: 0.3em;
              padding-left: 13px;
            }
            >p{
                clear: both;
                padding-top: 17px;
                font-size: 14px;
            }
        }
    }
    #fittext3{
        color:#ebebeb;
        position: absolute;
        bottom: 39%;
    }
}
.services{
    @media #{$mobile} {
        .fp-tableCell {
            vertical-align: top;
            padding:0 0px;
        }
        .obor img{
             display: none;
        }
        .heading{
            font-size: 2em;
        }
        .heading2{
            font-size: 2em;
        }
        ul{
            margin:10px 0 10px 0!important;
        }
        .desc{
            width: 100%!important;
            font-size: 8px;
        }
    }
    @media #{$desktop} {
    .fp-tableCell {
         vertical-align: top;
         padding:0 20px;
     }
    .obor img{
        width: 100%;
        height: auto;
    }
    .heading{
         font-size: 5em;
    }
    .heading2{
         font-size: 2em;
     }
    }

    .mesh{
        -vendor-animation-duration: 3s;
        width:45%;
        display: inline-block;
        float: left;
    }
    .wifi{
        width: 30%;
        display: inline-block;
        float: left;
    }
    .desc{
        width: 50%;
        display: inline-block;
        float: left;

        padding:2%;
    }
    .obo-desc{
        width: 100%;
    }

    .obor p, .obor .header{

    }
    .obor .header{
        font-weight: 600;
    }
    .bottom{
       position: absolute;
       bottom: 0px;
       z-index: 1000;
       .button{
            float: left;
            display: inline-block;

       }
       .text{
            width: 60%;
            padding:15px;
            display: inline-block;
            float:left;
            font-size: 12px;
       }
       @media #{$mobile} {
           .text{
            display: none;
           }
       }
       @media #{$desktop} {

       }
    }
    #fittext4{
        color:#f8f8f8;
    }
    .slides{
        @media #{$mobile} {
          width: 100%;
        }
        @media #{$desktop} {
          width: 70%;
        }
        display: inline-block;
        float: left;
    }
    .fp-controlArrow {
        display: none;
    }
    .slide-nav{
        @media #{$mobile} {
          width: 100%;
          display: inline-block;
          float: left;
          li{
              line-height: 1.5em;
              font-size: 1em;
          }
        }
        @media #{$desktop} {
          width: 30%;
          display: inline-block;
          float: left;
          li{

              line-height: 2em;
              font-size: 1.2em;
          }
        }

        ul{
            padding: 0;
            margin: 0;
        }
        li{
            list-style: none;

        }
        a{
            color:#333;
            text-decoration: none;
        }

        .active{
            text-decoration: underline;
        }
    }


}

.project{
    @media #{$mobile} {
      .logos {
        display: inline-block;
        width: 15%;
        float: left;
        img{
             width: 100%;
             display: block;
             height: auto;
             padding: 1%;
             cursor: pointer;
             margin: 2px 0;
        }
      }
      .dopinfo{
       float: right;
       width: 77%;
       padding: 0 3%;
       font-size: 11px;
       display: inline-block;

      }
    }
    @media #{$desktop} {
      .logos img{
          width: (100%/7) - 2%;
          display:inline-block;
          float: left;
          padding:1%;
          cursor:pointer;
      }
      .dopinfo{
          clear: both;
          font-size: 18px;
      }
    }
    #fittext5{
        color:#ebebeb;
    }

}

.contact{
    color:#fff;
    .heading {
        margin-top: 2em;
    }
    #fittext6{
        color: #212121;
    }
    .mail{
        width: 100px;
        height: auto;
        float: left;
        display: inline-block;
    }
    .desc{
        float: left;
        display: inline-block;
        padding:5px;

    }
    @media #{$mobile} {
        font-size: 12px;
        .desc{
            width: 100%;
        }

    }
    @media #{$desktop} {
        .desc{
        width: 50%;
        }
    }

}



@media #{$mobile} {

    /*BUTTON MOBILE FIX*/
    .bottom{
        width: 100%;
        bottom:10px!important;
        display:flex;
        left:0;
        .button{

        }
    }
    /*buter*/
    .fa-3x {
        font-size: 2.5em;
    }
}






/*         ___     __
   _____/ (_)___/ /__  __________
  / ___/ / / __  / _ \/ ___/ ___/
 (__  ) / / /_/ /  __/ /  (__  )
/____/_/_/\__,_/\___/_/  /____/
*/

.fp-controlArrow.fp-prev {
    left: 117px;
}
.fp-controlArrow.fp-next {
    right: 117px;
}

/*    ____  ________ ________   _____________  ________
   / __ )/ ____/ //_/ ____/  /_  __/ ____/ |/ /_  __/
  / __  / /   / ,< / / __     / / / __/  |   / / /
 / /_/ / /___/ /| / /_/ /    / / / /___ /   | / /
/_____/\____/_/ |_\____/    /_/ /_____//_/|_|/_/
*/
.fittext1, .fittext2, .fittext3{
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 30%;
    left: 0;
    z-index: -1;

}


/*    __________  ____  __  ___
   / ____/ __ \/ __ \/  |/  /
  / /_  / / / / /_/ / /|_/ /
 / __/ / /_/ / _, _/ /  / /
/_/    \____/_/ |_/_/  /_/
*/
@media #{$mobile} {
    .pum-theme-11 .pum-container, .pum-theme-cutting-edge .pum-container {
       padding: 7px !important;
       width: 95%!important;
       margin: 0!important;
       left: 2%!important;
    }
}
.pum-theme-12 .pum-title, .pum-theme-framed-border .pum-title {
    color: #ffffff;
}
.wpcf7-form{
    width: 100%;
    margin: auto;
    textarea{
        height: 8em!important;
    }
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #fff!important;
}
.wpcf7-submit{


        border-radius: 10px;
        border: 4px solid #fff!important;
        color: #fff;
        text-decoration: none;
        font-weight: 200;
        padding: 4px 14px;
        cursor: pointer;
        text-align: center;
        background: transparent!important;
        clear: both;

        @media #{$mobile} {

           margin: auto;
           display: block;
           border: 2px solid;
           font-size: 12px;
        }
        @media #{$desktop} {
           margin: 12px 0;
           display: inline-block;
           font-size: 24px;
        }


        &:before{
            clear: both;
        }


}

.wpcf7 input,.wpcf7 textarea{
    width: 100%;
    height: 3em;
    border: none;


}

#container{
    @media #{$desktop} {
        width: 75%;
        margin: 87px auto;
    }
    @media #{$mobile} {

       width: 69%;
       margin: 47px auto;

    }
}



/* _       ______
| |     / / __ \
| | /| / / /_/ /
| |/ |/ / ____/
|__/|__/_/
*/

#nav-above{
    width: 100%;
    display: inline-block;
    .nav-previous{
        float: left;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding: 0 2%;
    }
    .nav-next{
        float: left;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding: 0 2%;
    }
    a{
        text-decoration: none!important;
    }
}
#container,#footer{
    ul{
        li{
            list-style: none;
        }
    }
}
.entry-title a{
  text-decoration: none;
  font-size: 36px;
  line-height: 0.6em!important;
}
.entry-title{
  line-height: 0.6em!important;
}

/*lang widget*/
#site-info .list{
    .wpglobus-selector-link {
        text-decoration: none;
        color:#c9979b!important;
    }
    .wpglobus-current-language{
        color:$red!important;
;
    }

   position: fixed;
   @media #{$desktop} {
       top: 86px;
       right: 27px;
       font-size: 1.4em;
    }
    @media #{$mobile} {

       top: 55px;
       right: 13px;
       font-size: 1em;
       line-height: 1.4em;
     }
    img{
        display: none;
    }
    .name{
        display: none;
    }
    .code{
        display: block;

    }
}


.graph{
  position: absolute!important;
  top:140px;
  width: 100%;
}
