.post img {
    max-width:100%;
    height: auto;

}
.header {
    top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
    border: 10px solid #f1f1f1;
    margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
    float: left;
    margin-right: 20px;
    margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
    padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
    content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
    content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
    max-width: 100%; /* When images are too wide for containing element, force them to fit. */
    height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}
.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 12px;
}
.wp-caption {
    background: #f1f1f1;
    line-height: 18px;
    margin-bottom: 20px;
    max-width: 632px !important; /* prevent too-wide images from breaking layout */
    padding: 4px;
    text-align: center;
}
.wp-caption img {
    margin: 5px 5px 0;
    max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
    color: #777;
    font-size: 12px;
    margin: 5px;
}
.wp-smiley {
    margin: 0;
}
.gallery {
    margin: 0 auto 18px;
}
.gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 33%;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery img {
    border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
}
.gallery .gallery-caption {
    color: #777;
    font-size: 12px;
    margin: 0 0 12px;
}
.gallery dl {
    margin: 0;
}
.gallery img {
    border: 10px solid #f1f1f1;
}
.gallery br+br {
    display: none;
}
#content .attachment img {/* single attachment images should be centered */
    display: block;
    margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
    color: #777;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
    color: #777;
    text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
    color: #ff4b33;
}
.nav-previous {
    float: left;
    width: 50%;
}
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
#nav-above {
    margin: 0 0 18px 0;
}
#nav-above {
    display: none;
}
.paged #nav-above,
.single #nav-above {
    display: block;
}
#nav-below {
    margin: -18px 0 0 0;
}


.graph{
   z-index: 1000!important;
   position: relative;
   padding: 0!important;
   margin: 0!important;
}
